<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Partner Category</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>AVAILABLE PARTNERS:</span></h2>
    <ons-list>
        <ons-list-item modifier="partnerList" class="list-item-container list__item--tappable" ng-repeat="partner in catPartnerList">
            <ons-row>
                <ons-col width="95px">
                    <img src="http://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/logos/{{partner.partner_logo}}" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        {{partner.partner_name}}
                    </div>
                    <div class="desc">
                        {{partner.partner_voucher}}
                        <br />
                        {{partner.partner_province}} ,{{partner.partner_suburb}} 
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>
