<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Points Vouchers</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>VOUCHER CATEGORIES:</span></h2>
    <ons-list>
        <ons-list-item modifier="chevron" ng-repeat="partner in catList" ng-click="getPointList(partner.partner_category);">
            <ons-row>
                <ons-col width="60px">
                    <img src="images/{{partner.partner_category}}.png" />
                </ons-col>
                <ons-col>
                    <h4 class="listHeadings">{{partner.partner_category}}</h4>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>