<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Points Vouchers</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>VOUCHER CATEGORIES:</span></h2>
    <ons-list>
        <ons-list-item modifier="chevron" ng-repeat="partner in catList" ng-click="getPointList(partner.partner_category);">
            <ons-row>
                <ons-col width="60px">
                    <img src="images/{{partner.partner_category}}.png" />
                </ons-col>
                <ons-col>
                    <h4 class="listHeadings">{{partner.partner_category}}</h4>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>