<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Feedback</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader">FEEDBACK</h2>
    <div class="formShadow">
        <div class="formList">
            <div class="formListInputLrg"><textarea rows="10" class="textarea" id="my-textarea" ng-model="data.userFeedback" placeholder="Tell us what you need help with, and we will call you back within 48 hours."></textarea></div>
        </div>
        <p>&nbsp;</p>
        <div class="formList" style="margin-top: 80px;">
            <div class="formListLable">CELL:</div><div class="formListInput"><input ng-model="data.userFeedbackCell" type="text" class="text-input" placeholder="Cell number" /></div>
        </div>
        <div class="formList">
            <ons-button modifier="large" id="btnLogIn" ng-click="sendUserFeedback()" style="width:100%">SUBMIT</ons-button>
        </div>
    </div>
</ons-page>