<ons-alert-dialog var="alertDialog" style="height: 85%;width: 95%;">
    <div class="alert-dialog-content" style="height: 90%;">
        <ons-carousel style="height: 100%; width: 100%" swipeable overscrollable auto-scroll>
            <ons-carousel-item>
               <img src="images/fi1.jpg" style="width: 100%;" />
            </ons-carousel-item>
            <ons-carousel-item>
               <img src="images/fi2.jpg" style="width: 100%;" />
            </ons-carousel-item>
            <ons-carousel-item>
               <img src="images/fi3.jpg" style="width: 100%;" />
            </ons-carousel-item>
            <ons-carousel-item>
               <img src="images/fi4.jpg" style="width: 100%;" />
            </ons-carousel-item>
            <ons-carousel-item>
               <img src="images/fi5.jpg" style="width: 100%;" />
            </ons-carousel-item>
        </ons-carousel>
    </div>
    
    <div class="alert-dialog-footer">
        <button class="alert-dialog-button" ng-click="alertDialog.hide();">OK</button>
    </div>
</ons-alert-dialog>