<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="center">Welcome</div>
        <div ng-show="loggedIn">
            <div class="right">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="imgBlock hideable" style="display: block;"><img src="{{Banner1}}" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideable" style="display: none;"><img src="{{Banner2}}" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideable" style="display: none;"><img src="{{Banner3}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-list class="dropShadow">
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/enquiery.html', { animation : 'slide' } )">
            ENQUIRE NOW
        </ons-list-item>
        <div ng-hide="loggedIn">
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/login.html', { animation : 'slide' } )">
                LOYALTY LOG-IN
            </ons-list-item>
        </div>
        <div ng-show="loggedIn">
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/welcome.html', { animation : 'slide' } )">
                MEMBERS AREA
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="logout()">
                LOG OUT
            </ons-list-item>
        </div>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/promotions.html', { animation : 'slide' } )">
            PROMOTIONS
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="loadpage(2)">
            PRODUCT / SERVICES
        </ons-list-item>
        <ons-list-item modifier="chevron"  ng-click="loadpage(3)">
            HOW DOES PSACLUB WORK?
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/partners.html', { animation : 'slide' } )">
            VOUCHERS
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/nominate.html', { animation : 'slide' } )">
            NOMINATE A RETAILER
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="loadpage(4)">
            CONTACT US
        </ons-list-item>
    </ons-list>
    <p></p>
    <ons-row align="center">
        <ons-col><img src="images/mahala_facebook.png" style="" onclick="window.open('https://www.facebook.com/public.servants.association/','_system','')" /></ons-col>
    </ons-row>
    <div style="padding:20px" ng-init="init()">
       <div ng-bind-html="homePage"></div>
    </div>
</ons-page>
