<ons-page modifier="menu-page">
    <ons-list class="bottom-menu-list">
        <div ng-hide="loggedIn">
            <ons-list-item modifier="chevron" class="bottom-menu-item" onclick="myNavigator.pushPage('views/login.html'); menu.closeMenu();">
                Loyalty Login
            </ons-list-item>
        </div>
        <ons-list-item modifier="chevron" class="bottom-menu-item" onclick="myNavigator.pushPage('views/partners.html'); menu.closeMenu();">
            Partners
        </ons-list-item>
        <ons-list-item modifier="chevron" class="bottom-menu-item" onclick="myNavigator.pushPage('views/howItWorks.html'); menu.closeMenu();">
            How It Works
        </ons-list-item>
        <ons-list-item modifier="chevron" class="bottom-menu-item" onclick="myNavigator.pushPage('views/wantToJoin.html'); menu.closeMenu();">
            Want To Join
        </ons-list-item>
        <ons-list-item modifier="chevron" class="bottom-menu-item" onclick="myNavigator.pushPage('views/contactUs.html'); menu.closeMenu();">
            Contact Us
        </ons-list-item>
    </ons-list>
    <div ng-show="loggedIn">
        <h2 class="myHeader"><span>MEMBERS AREA</span></h2>
        <ons-list>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/balance.html', { animation : 'slide' } ); menu.closeMenu();">
                Your Balance
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/discount.html', { animation : 'slide' } ); menu.closeMenu();">
                Discount Vouchers
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/points.html', { animation : 'slide' } ); menu.closeMenu();">
                Point Partners
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/coupons.html', { animation : 'slide' } ); menu.closeMenu();">
                EEZI Coupons
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/redemptions.html', { animation : 'slide' } ); menu.closeMenu();">
                Redemptions
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="logout()">
                LOG OUT
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>