<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
        </div>
        <div class="center">Registration</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>Thank you for joining!</span></h2>
    <div style="padding: 0 20px">
        <p>Please note that a friendly Mahala consultant will contact you to complete your registration (only when (2) Product is selected)</p>
        <h3>For more info, call us on 084 196 3733</h3>
        <h3>Happy Shopping :)</h3>
    </div>
    <img src='images/bottomGraphic.png' width='100%'/>
</ons-page>