<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Password Reset</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>Password Reset</span></h2>
    <div style="padding: 0 20px">
        <p>To reset your password, follow the steps below.</p>
        <ul>
            <li>Enter your membership number in the field below.</li>
            <li>Click on the "Continue" button below, to trigger the reset request.</li>
            <li>An email will be sent to the registered email address on your profile.  This email will contain the newly generated temporary password.</li>
            <li>Once you have received the email. Open the App again and go to the login page and click on "Update Password" to complete the reset process.</li>
        </ul>
    </div>
    <div class="formList">
        <div class="form-row formListInputLrg">
            <input type="text" class="text-input" ng-model="data.reset_MPacc" placeholder="Membership Number" value="">
        </div>
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="restPass()" style="width:100%">Continue</ons-button>
        <p>&nbsp;</p>
    </div>
</ons-page>