<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            
        </div>
        <div class="center">TERMS & CONDITIONS</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>TERMS & CONDITIONS</span></h2>
    <div style="padding: 0 20px;">
        <div ng-bind-html="tcPage | to_trusted"></div>
    </div>
    <!--<ons-list>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/mdis.html', { animation : 'slide' } );">
            Mahala Disclosures
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/tbfsdis.html', { animation : 'slide' } );">
            TBFS Disclosures
        </ons-list-item>
    </ons-list>-->
</ons-page>


