<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Want to join?</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 8000px; width: 100%;" />
    </div>
    <div style="padding: 20px">
        <p>The PSA, a registered trade union, is the largest, politically non-affiliated, fully-representative Union in the Public Service and parastatals with a proud history of decades of service to members.</p>
        <p>To add value to your membership, see below 2 unique products avalable to PSA members only.  You can click on the logo to read more or click on the link below to view a short video.</p>
    </div>
    <a onclick="myNavigator.pushPage('views/join/perks.html', { animation : 'lift' } )">
        <img src="images/psacare-but.jpg" style="max-width: 800px; width: 100%;" />
    </a>
    <div style="padding: 20px">
        <p>Lifestyle benefits that take care of your family. <a href="https://youtu.be/0Bba8wyHTpY">Click here ti view a short video...</a></p>
    </div>
    <a onclick="myNavigator.pushPage('views/join/silver_gold.html', { animation : 'lift' } )">
        <img src="images/psaprotect.jpg" style="max-width: 800px; width: 100%;" />
    </a>
    <div style="padding: 20px">
        <p>Benefits that assist your day-to-day needs when there is a death in the family. <a href="https://youtu.be/4qWFOTFmRhY">Click here ti view a short video...</a></p>
    </div>
    <div style="padding: 20px">
        <p>You can request a physical PSA Loyalty Card at a small cost of R20 once off.</p>
        Payment options:
        <ol>
            <li>
                EFT or deposit into Mahala's Bank Account:
                <ul>
                    <li>Bank Name: Mahala</li>
                    <li>Bank: ABSA</li>
                    <li>Account no: 4060821587</li>
                    <li>Branch code: 632005</li>
                    <li>Reference: Your 10 digit PSACLUB loyalty number</li>
                    <li>Send proof of payment to:  0866 314 046 or info@mahalas.co.za </li>
                </ul>
            </li>
            <li>Pay with your points:  Please contact 0860 021 067 to request.</li>
        </ol>
        <p>As soon as we can allocate your deposit (make sure your reference number is your loyalty number), we will send you a PSA PACK to your provided postal address (please make sure that your address is up to date - you can login and update your profile)</p>
    </div>
</ons-page>