<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Your Balance</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>YOUR BALANCE</span></h2>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">CURRENT BALANCE:</div><div class="formListRight" style="width: 40%;">{{currentUnits}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">RAND AVAILABLE:</div><div class="formListRight" style="width: 40%;">R {{currentRands}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">USED POINTS:</div><div class="formListRight" style="width: 40%;">{{totalUsed}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">TOKEN BALANCE:</div><div class="formListRight" style="width: 40%;">{{tokenBalance}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">TIER LEVEL:</div><div class="formListRight" style="width: 40%;">{{tierDes}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">COMMUNITY:</div><div class="formListRight" style="width: 40%;">{{comId}}</div>
        </div>
        <div class="formList">
            <div class="formListLable">CARD NO:</div><div class="formListRight" style="width: 60%;">{{CardNumber}}</div>
        </div>
    </div>
    <ons-list>
        <ons-list-item modifier="chevron" ng-click="myTransactions()">
            YOUR LAST 10 TRANSACTIONS
        </ons-list-item>
    </ons-list>
</ons-page>