<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Coupon</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>COUPON INFO</span></h2>
    <div style="padding: 0 20px;">
        <img src="images/eeziCoupons.png" style="max-width: 380px; width: 100%;" />
    </div>
    <div style="padding: 0 20px;">
        <table width='100%' style='border:none'>
            <tr>
                <td align='center' width='30%'>
                    <img src="{{couponimageUrl}}" style="max-width: 200px; width: 100%;">
                </td>
                <td>
                    <div class="name">
                        {{couponname}}
                    </div>
                    <div>
                        Save <br /><span style="font-size: 18px; font-weight: bold; color: #c82126;">{{coupondiscount}}</span>
                    </div>
                    <div class="desc">
                        {{coupondescription}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><p class="desc">{{coupontc}}</p></td>
            </tr>
        </table>
    </div>
</ons-page>