<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Search for a deal</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner3}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <!--<h2 class="myHeader"><span>SEARCH FOR A DEAL</span></h2>
    <div style="padding:20px">
        <div class="formListInputLrg"><input type="text" class="text-input" ng-model="data.searchPartName" placeholder="Enter Retailer name"></div>
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="searchDPName()" style="width:100%">Quick Search</ons-button>
    </div>-->
    <h2 class="myHeader">SEARCH FOR A DEAL</h2>
    <div class="search">
        <ons-list>
            <ons-list-item modifier="chevron" ng-click="discountName()">
                <strong>Name:</strong><br>Shop listed Alphabetically
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="discountCategory()">
               <strong>Category:</strong><br>Shop listed by Category
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="discountProvine()">
                <strong>Region:</strong><br>Shop listed by Region
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="discountCloseBy()">
                <strong>Close By:</strong><br>Shop close to you (GPS location)
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>