<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div>
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Electricity</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>ELECTRICITY</span></h2>
    <div style="padding: 0 20px;">
        <p>Please enter your cell number and submit, Mahala will process your redemption within 24 hours</p>
    </div>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">CELL NO:</div><div class="formListInput"><input ng-model="data.CellNum" type="text" class="text-input" placeholder="Cell Number" /></div>
        </div>
    </div>
    <div style="padding:20px">
        <ons-button modifier="large outline" id="btnLogIn" ng-click="redeemElc()" style="width:100%">REDEEM</ons-button>
        <p>Please note, the monetary value of your points must be >= to the value of your redemption</p>
    </div>
</ons-page>