<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Gift Cards</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>GIFT CARDS</span></h2>
    <div style="padding: 0 20px;">
        Your e-Wallet Balance:
        <h3 style="border: 1px solid #0b67a0; background-color: #d1d4da">R {{currentRands}}</h3>
    </div>
    <h3 style="color:#0b67a0;">SELECT YOUR REWARDS</h3>
    
    <div class="search">
        <ons-list>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/boardmans_voucher.html', { animation : 'slide' } )">
                <strong>Boardmans</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/cna_voucher.html', { animation : 'slide' } )">
               <strong>CNA</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/edgars_voucher.html', { animation : 'slide' } )">
                <strong>Edgars</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/active_voucher.html', { animation : 'slide' } )">
                <strong>Edgars Active</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/jet_voucher.html', { animation : 'slide' } )">
               <strong>JET</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/jetmart_voucher.html', { animation : 'slide' } )">
                <strong>JET Mart</strong>
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/redsquare_voucher.html', { animation : 'slide' } )">
                <strong>Red Square</strong>
            </ons-list-item>
        </ons-list>
    </div>
    <div style="padding: 0 20px;">
        <a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a>
    </div>
</ons-page>