<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Change Password</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner3}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>CHANGE PASSWORD</span></h2>
    <div style="padding: 0 20px">
        <p>Your e-Wallet could carry a monetary value, please ensure that your password is kept safe at all times.</p>
        <p>These are the rules to set up your password:</p>
        <ul>
            <li>Minimum of 5 characters</li>
            <li>At least 1 lower case character</li>
            <li>At least 1 upper case character</li>
            <li>At least 1 numeric character</li>
        </ul>
    </div>
    <div class="formList">
        <div class="form-row formListInputLrg">
            <input type="hidden" class="text-input" ng-model="data.pu_MPacc" ng-value="userMpacc">
        </div>
        <br>
        Current Password: {{userPass}}
        <div class="form-row formListInputLrg">
            <input type="hidden" class="text-input" ng-model="data.pu_oldPass" ng-value="userPass">
        </div>
        <br>
        <div class="form-row formListInputLrg">
            <input type="password" class="text-input" ng-model="data.pu_newPass" placeholder="New Password" value="">
        </div>
        <br>
        <div class="form-row formListInputLrg">
            <input type="password" class="text-input" ng-model="data.pu_newPassR" placeholder="Retype New Password" value="">
        </div>
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="updateCurPass()" style="width:100%">SUBMIT</ons-button>
        <p>&nbsp;</p>
    </div>
</ons-page>