<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Voucher</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <div style="padding: 0 20px;">
        <table width='100%' style='border:none'>
            <tr>
                <td colspan='2' style='border-bottom:2px solid #cd242d;' align='center'><img src="http://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/logos/{{partner_logo}}" width="90%"></td>
            </tr>
            <tr>
                <td>Deal:</td><td>{{partner_voucher}}</td>
            </tr>
            <tr>
                <td>Tel:</td><td>{{partner_tel}}</td>
            </tr>
            <tr>
                <td>Address:</td><td>{{partner_address}}</td>
            </tr>
            <tr>
                <td>Date:</td><td>{{voucher_date}}</td>
            </tr>
            <tr>
                <td>Loyalty no:</td><td>{{MPacc}}</td>
            </tr>
            <tr>
                <td colspan='2' align='center'><img src='http://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/test_1D.php?text={{CardNumber}}' width='270px' /></td>
            </tr>
        </table>
        <p style='color:#cd242d'><a href="#" onclick="myNavigator.pushPage('views/TandC.html');" style="text-decoration: none; color: #C82126;">TERMS AND CONDITIONS</a> APPLY.</p>
        <p>FOR ANY ASSISTANCE:<br />call <a href="tel:+27841963733" style="text-decoration: none; color: #C82126;">084 196 FREE (3733)</a> | <a href="mailto:info@mahalas.co.za" style="text-decoration: none; color: #C82126;">info@mahalas.co.za</a></p>
        <div>
            <p style='font-size:10px;'>In Conjunction with:</p>
            <img src='http://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/partnerLogo.png' width='80%'/>
        </div>
    </div>
</ons-page>