<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Want to join?</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>WANT TO JOIN?</span></h2>
    <div class="formShadow">
        <div style="padding:20px">
            <img src="images/studentHeader.png" style="max-width: 348px; width: 100%;" />
            <h3 style="font-weight: normal; border-bottom: 2px dashed #c69a48;">BENEFITS</h3>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon1.png" />
                </ons-col>
                <ons-col>
                    <h4>MAHALA LOYALTY BENEFITS</h4>
                    <span style="color: #fdb913;">INCLUDED IN ALL PACKAGES</span>
                    <p>Your Mahala loyalty card brings you a WORLD of discounts and points at more than 1 000 Partners countrywide.  Your loyalty card will be the key in accumulating points at Partners like Midas, Solo Shoes and many more.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon2.png" />
                </ons-col>
                <ons-col>
                    <p>Mahala Loyalty Club gives back to their members through a Quarterly Prize draw. The prize money grows with the membership total of the Exceed Student Lifestyle Benefits program. For every 1000 members the prize money grows with R5000.</p>
                    <p>When the student graduates successfully a graduation bonus will be paid to the maximum of 10 000 points depending on your chosen package.</p>
                    <p class="center"><img src="images/student_subicon1.png" /></p>
                    <p>To qualify for the bonus, we have to receive 36 months premiums as well as your proof of graduation.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon3.png" />
                </ons-col>
                <ons-col>
                    <h4>MEDICAL ADVICE</h4>
                    <span style="color: #fdb913;">INCLUDED IN ALL PACKAGES</span>
                    <p>Medical personnel, including paramedics, nurses and doctors are available 24 hours a day to provide general medical information and advice. This is an advisory service, as a telephonic conversation does not permit an accurate diagnosis.</p>
                </ons-col>
            </ons-row>
            
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon4.png" />
                </ons-col>
                <ons-col>
                    <h4>LEGAL ADVICE</h4>
                    <span style="color: #fdb913;">INCLUDED IN ALL PACKAGES</span>
                    <p>Members and their immediate family have on-going access to a 24-hour legal advisory service such as criminal law, family law, constitutional law, child law, labour law, motor law, etc.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon5.png" />
                </ons-col>
                <ons-col>
                    <h4>TRAUMA ASSIST</h4>
                    <span style="color: #fdb913;">INCLUDED IN ALL PACKAGES</span>
                    <p>This is a 24 hour emergency assistance helpline that:</p>
                    <ul>
                        <li>Arranges the nearest emergency assistance service as well as provides emergency transport to the nearest medical facility.</li>
                        <li>Offers referrals for psychiatric consultations.</li>
                        <li>Covers R5 000 per insured person  with a maximum of R10 000 per family per occurrence in respect of psychiatric consultations.</li>
                    </ul>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon6.png" />
                </ons-col>
                <ons-col>
                    <h4>MOTOR LAW</h4>
                    <span style="color: #fdb913;">INCLUDED IN SILVER AND GOLD PACKAGES</span>
                    <p>Motor Law offers a comprehensive and powerful legal protection for motorists and passengers with a 24/7 call centre that is in service 365 days a year. </p>
                    <p>Some of the matters we can assist with:</p>
                    <ul>
                        <li>Road Accident Fund (RAF) claims.</li>
                        <li>Legal representation:<br />- High and Magistrate's court</li>
                        <li>Traffic offences above R1500 fines</li>
                        <li>Drunken driving</li>
                        <li>Bail applications</li>
                        <li>Recovery of accident damages to member's vehicle if not insured</li>
                        <li>Repossessions</li>
                        <li>Unlawful arrest by SAPS and Metro Police, etc</li>
                    </ul>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon7.png" />
                </ons-col>
                <ons-col>
                    <h4>FUTURE PROTECTOR BENEFIT</h4>
                    <span style="color: #fdb913;">INCLUDED IN SILVER AND GOLD PACKAGES</span>
                    <p>Should the parents/ Legal guardian pass away due to an accident, a bursary to the maximum of R30 000 will be made available to the student depending on the package.</p>
                    <p class="center"><img src="images/student_subicon2.png" /></p>
                    <p>PLUS you don’t have to pay a premium for the next 12 months AND you enjoy all your existing benefits (excluding the Future Protector Benefit).</p>
                </ons-col>
            </ons-row>
            
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon8.png" />
                </ons-col>
                <ons-col>
                    <h4>HOME SAFE CHAUFFEUR</h4>
                    <span style="color: #fdb913;">INCLUDED IN THE GOLD PACKAGE</span>     
                    <p>Statistics show car incidents as a result of drinking and driving account for a large percentage of accidents on our roads, especially at night. Home Safe Chauffeur will ensure that you and your vehicle arrive home safely. We will dispatch a vehicle with two drivers and drive you home in your own car. All our drivers carry valid driver’s licences and cell phones. They are dressed appropriately and are all fluent in English. This service is restricted to 6 call-outs per annum and each incident is capped at R500.00. Any costs incurred over and above this will be for the client’s account.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon9.png" />
                </ons-col>
                <ons-col>
                    <h4>FLEXIBREAKS</h4>
                    <span style="color: #fdb913;">INCLUDED IN THE GOLD PACKAGE</span>
                    <p>Take a break whenever you feel like it with Flexibreaks. We offer great discounts that make any time of the year a good time to get away. We have over 500 listed venues offering up to 50% discount accross South Africa, Zambia, Mauritius, Namibia, Zimbabwe, Ghana and more. We also offer discounts on all your flights, bus services, shuttles, cruises and travel insurance. A minimum of R75.00 per booking fee is charges to the members upon making their reservations.</p>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/student_icon10.png" />
                </ons-col>
                <ons-col>
                    <h4>MISSING ASSIST</h4>
                    <span style="color: #fdb913;">INCLUDED IN THE GOLD PACKAGE</span>
                    <p>What do you do when a loved one goes missing?</p>
                    <p>The People Search and Rescue Unit (PSARU™) is a 24/7 call centre help line specialized in providing holistic support in missing persons cases.</p>
                    PSARU™ offer the following assistance:
                    <ul>
                        <li>24/7 Call Centre for Immediate Assistance.</li>
                        <li>Specialized investigation team to be dispatched immediately in the search for a missing person.</li>
                        <li>Trauma Support.</li>
                    </ul>
                </ons-col>
            </ons-row>
        </div>
    </div>
    <ons-list class="dropShadow">
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/enquiery.html', { animation : 'slide' } )">
            ENQUIRE NOW
        </ons-list-item>
    </ons-list>
</ons-page>