<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Advice</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
    </div>
	<h2 class="myHeader"><span>ADVICE</span></h2>
	<div class="search">
		<ons-list class="dropShadow">
			<ons-list-item modifier="chevron" onclick="window.open('https://www.msp.property/investment-corner/','_system','')">
				Investor corner
			</ons-list-item>
			<ons-list-item modifier="chevron" onclick="window.open('https://www.msp.property/rental-guarantee/','_system','')">
				Rental guarantee
			</ons-list-item>
			<ons-list-item modifier="chevron" onclick="window.open('https://www.msp.property/msp-maintenance/','_system','')">
				Property Maintenance
			</ons-list-item>
			<ons-list-item modifier="chevron" onclick="window.open('https://www.msp.property/retentions/','_system','')">
				Retentions
			</ons-list-item>
			<ons-list-item modifier="chevron" onclick="window.open('https://www.msp.property/property-email-alerts/','_system','')">
				Property email alerts
			</ons-list-item>
		</ons-list>
	</div>
</ons-page>