<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">CRYSTAL PARK</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
    </div>
    <div style="padding:20px">
        <h2>CRYSTAL PARK</h2>
        <p>Crystal Park is a family friendly neighborhood in Benoni, with the N12, R23, R29 and the R51 freeways all connecting you to other business districts, such as Springs, Kempton Park, Germiston, and Heidelberg.</p>
        <p>New homes in Crystal Park sell from R519 900 for a 45m² Tuscan style starter home that has 2 bedrooms and 1 bathroom and range up to R699 900 for a 75m² Tuscan style home with 3 bedrooms and 2 bathrooms.</p>
        <img src="images/cpark1.jpg" style="max-width: 400px; width: 49%;" />
        <img src="images/cpark2.jpg" style="max-width: 400px; width: 49%;" />
        <img src="images/cpark3.jpg" style="max-width: 800px; width: 100%;" />
    </div>
    
</ons-page>