<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Properties | Polokwane</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
    </div>
    <div style="padding:20px">
        <h2>POLOKWANE PROPERTIES</h2>
        <p>Coming Soon</p>
    </div>
    
</ons-page>