<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Homeownership Seminars</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
    </div>
    <div class="formShadow">
        <div style="padding:20px">
            <h3>ARE YOU READY TO PURCHASE A HOME?</h3>
            <h4>BUYING A HOME IS AN EXCITING INVESTMENT</h4>
            <p>It goes without saying that buying a home – whether it’s your first home or not – is one of the most exciting purchases	you’re ever going to make. But it’s probably also going to be one of the most important investment decisions you make in	your life, one that requires a great deal of thought.	Buying a home is different to nearly all the other purchases we make – you don’t buy a home every day, and there are things	that you need to be aware of when going through the process of purchasing a property. </p>
            <p>Source: <a href="#" onclick="window.open('https://www.sahomeloans.com/content/uploads/2016/05/home-buyers-guide-english.pdf','_system','')">https://www.sahomeloans.com/content/uploads/2016/05/home-buyers-guide-english.pdf</a></p>
            <h4><u>Book a seat for our Homeownership Seminar to learn more</u></h4>
            <h4>DECIDE WHAT IT IS YOU’RE LOOKING FOR. THINK ABOUT:</h4>
            <ul>
                <li>Your price range – your monthly budget and what you can afford.</li>
                <li>Your ideal neighbourhood. What other areas would you be happy to live in?</li>
                <li>Would you prefer a free-standing house or the additional gated security of a complex?</li>
                <li>Size of house/flat/land.</li>
                <li>The number of bedrooms/bathrooms you require.</li>
                <li>Do you need an outdoor space? (garden, balcony, pool, braai area etc.)</li>
                <li>Parking requirements.</li>
                <li>What facilities do you need to be close to (schools, shops, parks etc.)</li>
                <li>Are you prepared to renovate</li>
            </ul>
            <h3>ADVANTAGES OF HOMEOWNERSHIP</h3>
            <h4>Becoming a homeowner comes with a lot of responsibility, but also a lot of rewards.</h4>
            <p><strong>It’s a Good Investment</strong></p>
            <p>While home prices move in cycles over the short-term, if you stay in your home for a long time, it could increase in value and give you a substantial return on your investment.</p>
            <p><strong>You Build Equity</strong></p>
            <p>When you subtract the amount you owe on your home loan from the total value of your house, the amount left over is your home equity-the “dollar” value of your home that actually belongs to you.</p>
            <p><strong>Enjoy Significant Tax Deductions</strong></p>
            <p>Owning a home can reduce the amount you pay in income taxes each year. Your mortgage interest and property tax payments may be deductible from your federal taxes, as well as many state taxes.</p>
            <p><strong>Build a Strong Credit History</strong></p>
            <p>When you buy a home and consistently make your monthly loan payments on time, it demonstrates to other lenders that you are a good borrower and the risk of you defaulting on a loan is low.</p>
            <p><strong>Create the Home You Want</strong></p>
            <p>Homeownership offers tremendous freedom to create the living environment that you have always wanted. You can own pets, paint rooms whatever color you like, make changes to floors and carpeting and do all the things that make a house your home.</p>
            <p><strong>More info about the seminar here</strong></p>
            <a href="#" onclick="window.open('http://homeownership.co.za/','_system','')">http://homeownership.co.za/</a>
        </div>
    </div>
</ons-page>